<% include header.html %>

<div class="container">
	<h1>Profile of <%= user.name %></h1>
	<div class='btn-group'>
		<a href='/new' class='btn btn-outline-primary'>New</a>
		<a href='#' class='btn btn-outline-primary'>View</a>
		<a href='#' class='btn btn-outline-primary'>Settings</a>
		<a href='/logout' class='btn btn-outline-primary'>Log Out</a>
	</div>
	<br>
	<% for (var t of topic) { %>
		<%= t.title %>
		<a href='/toggle?id=<%= t.id %>'>Toggle</a>
		<br>
	<% } %>
</div>

<% include footer.html %>
